nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

/* Article flex-box */

article {
    display: flex;
    flex-direction: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

section {
    border: solid 1px black;


.mugshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mugshotText {
    text-align: center;
    font-size: 3em;

aside {
    position: fixed;
    bottom: 40%;
    right: 0px;
    float: right;
    width: 33%;
    border-left: 10px red ridge;
}

.news {
    width: 65%;
}